{% extends "base_agent.html" %}
{% block title %}{{ current_user.full_name.capitalize() }}'s Ads | {% endblock %}
{% block content %}

<section class="col-12">
  <div class="container">
    <!-- FLASH MESSAGES -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-success d-flex justify-content-center">
        {% for message in messages %}
        <span>{{ message }}</span>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    
        <div class="row col-12 mx-auto px-0 px-md-auto">
            {% if properties %}
                {% for property in properties %}
                    {% include "partials/cards.html" %}
                {% endfor %}
            {% else %}
                {% include "partials/no_results.html" %}
            {% endif %}
        </div>



  </div>
</section>
{% endblock %}