{% extends "base_agent.html" %}
{% block content %}
<div class="container">
    <h1>My Ads</h1>
    {% for property in properties %}
    <!-- Display property details -->
    <div class="property-card">
        <img src="{{ property.image_link }}" alt="Property Image">
        <div class="property-details">
            <p>Address: {{ property.address }}</p>
            <p>Agent: {{ property.agent.username }}</p>
            <!-- Additional property details as needed -->
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
