@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800& display=swap');

*{
  font-family: 'Monserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-paddin{
  padding: 100px 0;
}

.w-100-height {
  height: 90vh;
  width: 100%;
}

.carousel-item {
  min-height: 300px;
}

.carousel-caption{
  text-align: left;
  margin-bottom: 200px;
  z-index: 2;
}

#carousel_for_buy.unique-carousel .carousel-caption {
  margin-top: 100px;
  margin-bottom: 100px;
}

.carousel-caption h5 {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  line-height: 60px;
  text-align: left;
}

.carousel-caption p {
  width: 60%;
  font-size: 16px;
  line-height: 1.9;
  text-align: left;
}

.carousel-inner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.arrow-icon {
  font-size: 28px;
  font-weight: 800;
}

.bg-footer a {
  text-decoration:none;
  color: #aeaeae;
}

/* carousel for Agents */
.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
.MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
    .MultiCarousel .MultiCarousel-inner .item { float: left;}
    .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
.MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
.MultiCarousel .leftLst { left:0; }
.MultiCarousel .rightLst { right:0; }

    .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }

/* End of carousel for Agents */
