@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800& display=swap');

*{
  font-family: 'Monserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-paddin{
  padding: 100px 0;
}

.w-100-height {
  height: 90vh;
  width: 100%;
}

.carousel-item {
  min-height: 300px;
}

.carousel-caption{
  text-align: left;
  margin-bottom: 200px;
  z-index: 2;
}

#carousel_for_buy.unique-carousel .carousel-caption {
  margin-top: 100px;
  margin-bottom: 100px;
}

.carousel-caption h5 {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  line-height: 60px;
  text-align: left;
}

.carousel-caption p {
  width: 60%;
  font-size: 16px;
  line-height: 1.9;
  text-align: left;
}

.carousel-inner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.arrow-icon {
  font-size: 28px;
  font-weight: 800;
}

/* carousel for Agents */

#carousel_for_agent .carousel-inner {
  padding: 1em;
}

#carousel_for_agent .card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}

#carousel_for_agent .carousel-control-prev,
#carousel_for_agent .carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  #carousel_for_agent .carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
  }
  #carousel_for_agent .carousel-inner {
    display: flex;
  }
}

#carousel_for_agent .card .img-wrapper {
  max-width: 100%;
  height: 13em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#carousel_for_agent .card img {
  max-height: 100%;
}

@media (max-width: 767px) {
  #carousel_for_agent .card .img-wrapper {
    height: 17em;
  }
}


/* End of carousel for Agents */
